*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  background-color:bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container{
  display: flex;
  height: 90vh;
  width: 90vw;
  background-color: #000148a0;
  border-radius: 10px;
  backdrop-filter: blur(20%) saturate(200%);
  border: solid 1px rgba(255, 255, 255, 0.125);
  color: white;

}

